
body{
    background: #e5e5e5;
    color: #25282B;
    text-align: center;
}

button{
    border: none;
    font-weight: bold;
    background: none;
    color: #ff5E84;
}

button.fat{
    color: #ffff;
    background: #ff5E84;
}

#footer a{
    color: #25282B;
    text-decoration: none;
}

.hide{
    display: none;
}

